* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    border: 3px solid black;
    gap: 1px;
}

.rowContainer {
    flex: 1 1 auto;
    display: flex;
    flex: 1 1 auto;;
}